-r requirements_common.txt
-e ./jass_kit
flake8
black
pyright
nbstripout
ipykernel~=6.25
matplotlib
scikit-learn
plotly
lightning
torch
torchmetrics
tensorboard
pyarrow
dask
gymnasium
stable-baselines3
dvc[gdrive]
dvclive
